.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: solid 1px teal;
  background-color: teal;
  font-size: 1.25rem;
  color: white;
}

.button:hover,
.button:active {
  border-color: #009898;
  background-color: #009898;
}
